* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.card {
  color: #A3BEE6;
  padding: 20px;
  margin-top: 20px;
}

.statusL {
  border-radius: 4px;
  border: 2px solid black;
  color: white;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #04AA6D;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
