.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.up {
  display: flex;
  justify-content: space-between;
}

.img-contact {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

ul.demo {
  list-style-type: none;
}

.column {
	flex-direction: column;
}